

.header{
    text-align: center;
    color: white;
    font-size: 35px;
    text-decoration-line: underline;
    text-decoration-color: rgba(98, 20, 98, 0.486);
    position: relative;
    padding-left: 10px;
    top: px;
    font-family:sans-serif;
}


.header2 {
    text-align: center;
    font-size: 35px;

    font-family:sans-serif;
}



.header3 {

    text-align: center;
    font-size: 25px;
    font-family:sans-serif;
    
}