.header {
    text-align: center;
    color: white;
    font-size: 80px;
    text-decoration-line: underline;
    text-decoration-color: rgba(98, 20, 98, 0.486);
    position: relative;
    top: 70px;
    font-family:sans-serif;
}

.header2{
    color: rgba(74, 74, 74, 0.871);
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: rgba(98, 20, 98, 0.486);
    font-size: 50px;
    padding-left: 50%;
    position: relative;
    top: 120px;
    font-family:sans-serif;
}

.header3 {
    color: rgba(74, 74, 74, 0.871);
    text-align: center;
    font-size: 30px;
    width: 30%;
    padding-left: 60%;
    position: relative;
    top: 120px;
    font-family:sans-serif;
}

.image {
    padding-left: 13%;
    position: relative;
    top: -280px;
}