//container
.container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(153, 33, 153);
    font-size: 30px;
    padding-left: 30px;
    
}


//navleft

.container > .navleft a {
    font-size: 60px;
    font-style: bold;
    color: white;
    text-decoration: none;
    
}
 
//right side of navbar

.container > .navright a {
    list-style: none; 
    gap: 5px;
    font-size: 20px;
    margin: 20px;
    position: relative;
    color: white;
    text-decoration: none; //removes the underline
    
}

.container > .navright > a:hover {
    opacity: 1;
}

.container > .navright > a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: all .45s;
}

 .container > .navright > a:hover::before{
    width: 100%;
}





