.container {
    color: white;
    font-size: 30px;
    -webkit-text-stroke: 0.2px;
    -webkit-text-stroke-color: black;
    
}

.header{
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: rgba(98, 20, 98, 0.486);
}

.header2left {
    text-align: left;
}

.header2right {
    text-align: right;
    
}



